.top-section-card {
    height: 450px;
    padding: 10px;
}

.top-section-card.card {
    border: none;
}

.note-section {
    text-align: left;
    margin-top: 30px;
}

.title-section {
    margin-top: 25px;
}

.fires-map-search-form {
    margin-bottom: 20px;
}

.carousel {
    margin-top: 30px;
}

.title-theme {
    background-color: #2C3531 !important;
    color: white;
}

.interactive-theme {
    background-color: #D9B08C !important;
}

.beige-theme {
    background-color: #D1E8E2 !important;
}

.card-theme {
    background-color: white !important;
}

.row {
    margin-bottom: 20px;
}