.card-body {
    padding: 0px;
}

.top-section-card {
    height: 450px;
    padding: 10px;
}

.top-section-card.card {
    border: none;
}

.note-section {
    text-align: left;
    margin-top: 30px;
}

.title-section {
    margin-top: 25px;
    color: white;
}

.fires-map-search-form {
    margin-bottom: 20px;
}

.carousel {
    margin-top: 30px;
}

.title-theme {
    background-color: #2C3531 !important;
    color: white;
}

.interactive-theme {
    background-color: #D9B08C !important;
}

.beige-theme {
    background-color: #D1E8E2 !important;
}

.card-exp {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: none;
    background-clip: border-box;
    border: none;
    border-radius: .25rem;
}

.row {
    margin-bottom: 20px;
}

.states-circle {
    cursor: pointer;
}

thead {
    background: white;
}

tbody {
    color: white;
}