.predictor-form {
    padding: 25px;
}

.button-section {
    padding: 25px;
    margin-bottom: 30px;
}

.prediction-intro {
    width: 500px;
    padding: 10px;
    overflow-y: scroll;
    text-align: left;
}

.prediction-details {
    padding: 10px;
    width: 100%;
    margin-top: 20px;
}

.card-title {
    padding-top: 20px;
}

.default-prediction-message {
    margin-bottom: 25px;
}
